<!DOCTYPE html>
<html>

<head>
    <title>
        Embedding an online compiler
        into a website
    </title>
    <style>
        #editor{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    </style>
</head>

<body>
<form action="https://www.jdoodle.com/api/redirect-to-post/python3-programming-online" method="post">
  Script:<textarea name='initScript'></textarea>
  <input type="submit" value="Submit">
</form>

</body>
</html>